@import "tailwindcss/index.css";

@theme {
  --color-grab-pink: #b21c8e;
  --color-grab-pink-light: #fde7f7;
  --color-grab-pink-border: #f7c5ec;
  --color-grab-purple: rgb(210, 57, 192);
  --color-label-tag-border: #730079;
  --color-label-tag-text: #1e001f;
  --color-label-gray-border: #b0b0b0;
  --color-label-success-bg: #d9ffe4;
  --color-label-success-border: #00bb69;
  --color-label-success-text: #006e3b;
  --color-label-divider: #dedede;
  --color-label-muted: #767676;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
